<div class="card">
  <h1>Editar Mueble</h1>
  <form #f="ngForm" (ngSubmit)="actualizarMueble(f)">
    <label>Nombre:</label>
    <input type="text" name="nombre" [(ngModel)]="mueble.nombre" required /><br />

    <label>Descripción:</label>
    <input type="text" name="descripcion" [(ngModel)]="mueble.descripcion" required /><br />

    <label>Precio:</label>
    <input type="number" name="precio" [(ngModel)]="mueble.precio" step="0.01" required /><br />

    <button type="submit">Actualizar</button>

    <p>{{ mensaje }}</p>
    <a routerLink="/">Volver</a>
  </form>
</div>


